# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# VS Code settings
.vscode/

# Pytest cache
.pytest_cache/

# mypy
.mypy_cache/

# Logs
*.log

# dotenv
.env

# Mac/Linux/Windows trash
.DS_Store
Thumbs.db
